.productImages{
    width: 40%;
}
.singleProductContainer{
    display: flex;
    justify-content: space-around;
}
.product_details{
    width: 46%;
}
.pricing{
    display: flex;
}
.pricing>p{
    margin-right: 10px;
}

.add_to_cart{
    display: inline-block;
    padding: 13px;
    background-color: #e50019;
    color: #fff;
    box-shadow: 1px 1px 3px 1px gray;
    border-radius: 9px;
    margin-top: 10px;
    cursor: pointer;
}
